body {
    font-family: 'Oswald', sans-serif;
}

h1 {
	margin-bottom: 0;
}

h2 {
	font-size: 25px;
}


.search-bar {
	margin: 20px;
	text-align: center;
}


.search-bar input {
	width: 55%;
}

.video-item img {
	max-width: 64px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.video-title {
	font-weight: bold;
	font-size: 20px;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #eee;
}

.header {
	display: flex;
	justify-content: center;
}

.logo {
	border-radius: 100%;
	font-size: 30px;
	color: red;
}


